.header
{
    background-color: #efe9eb;
    height: 60px;
    width: 100%;

}

.body-m {
    margin: 0px;
}

table.header a {
    text-decoration: none;
}

.banner
{
width: 100%;
height: 441px;

}

.b-b
{
    background-color: #e9e7e8;
   background-color: 
   height: 176px;
   width: 100%;
   margin: 0px;
}

.b-b1
{
    width: 40%;
    display: inline-block;
}

.col-sm-6.b-b1.extra {
    margin-top: 31px;
    margin-left: 49px;
}

.extra-1 img {
    top: 20px;
    position: relative;
    left: 232px;
}

p
{
color: #585453;

}

h1
{
    color: #cb3660;
}




.footer-img img {
    width: 100%;
    position: absolute;
}